body {
    height:100%;
    width:100%;
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }

  .page-header {
    padding: 20px;
    background-color: rgb(169, 59, 99);
}

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  }

  .page-header h1 {
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 2px pink;
  }

  .page-header a {
    display: block;
    padding:0.5em;
    text-decoration:none;
    font-size: 20px;
    color: white;
  }

  .page-header a:hover{
    color: black;
  }